.header {
  color: black;
  position: fixed;
  top: 10px;
  left: 15px;
  right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  border: none;
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.hamburger {
  font-size: 30px;
  font-weight: bold;
  transform: rotate(-90deg);
  border-radius: 30px;
  cursor: pointer;
  transition: color 0.15s;
}

.title:hover,
.hamburger:hover {
  color: rgb(29, 66, 172);
}

.dropdown-menu {
  display: none;
  position: fixed;
  top: 40px;
  right: 10px;
  flex-direction: column;
  align-items: end;
  padding-top: 15px;
}

.dropdown-item,
.dropdown-item-selected {
  margin-right: 5px;
  margin-bottom: 15px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.15s;
}

.dropdown-item {
  color: black;
}

.dropdown-item:hover,
.dropdown-item-selected {
  color: rgb(29, 66, 172);
}







